<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles/dashboard_s.css" />
    <link rel="stylesheet" href="../styles/loader.css">

    <script src="./js/menu_s.js"></script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
  </head>

  <body>
    <div class="outer">
      <div class="col1">
        <img src="./images/logo.jpeg" id="logo" />
        <div class="menu_items">
          <h1>MENU</h1>
          <div onclick="menu_item()" id="home" class="active">
            <ion-icon class="main-nav-icon" name="home-outline"></ion-icon>
            Home
          </div>
          <div onclick="menu_item()" id="courses">
            <ion-icon class="main-nav-icon" name="grid-outline"></ion-icon>
            Courses
          </div>

          <div onclick="menu_item()" id="grades">
            <ion-icon class="main-nav-icon" name="checkbox-outline"></ion-icon>
            Grades
          </div>

          <div onclick="menu_item()" id="tasks">
            <ion-icon class="main-nav-icon" name="easel-outline"></ion-icon>
            My Tasks
          </div>

          <div onclick="menu_item()" id="materials">
            <ion-icon class="main-nav-icon" name="calendar-outline"></ion-icon>
            Materials
          </div>

          <div onclick="menu_item()" id="settings">
            <ion-icon class="main-nav-icon" name="settings-outline"></ion-icon>
            Settings
          </div>
        </div>
      </div>

      <div class="col2">
        <h1 id="welcome">Hello</h1>
        <h2>Welcome Back</h2>
        <br /><br /><br />
        <div id="home_content">
          <h1>Displaying Attendance</h1>
          <table id="display_attendance">
            <tr>
              <th>Subject</th>
              <th>Lectures_attended</th>
              <th>Total Lectures conducted</th>
            </tr>
            <% for(let data in data_s2[0]["Lecture_Attended"]) {%>
              <tr>
                <td><%=data_s2[0]["Lecture_Attended"][data]["Subject_name"]%></td>
                <td><%=data_s2[0]["Lecture_Attended"][data]["attended"]%></td>
                <td><%=data_s2[0]["Total_Lecture"][data]["No_of_lec"]%></td>
              </tr>
            <% } %>
          </table>
        </div>
        <div id="courses_content">
          <h1>You have been enrolled in the following subjects</h1>
          <% for(let data in data_s2[0]["Lecture_Attended"]) {%>
            <h3 class="courses_enrolled"><%= data_s2[0]["Lecture_Attended"][data]["Subject_name"]%></h3>
          <% } %>
        </div>
        <div id="grades_content">
          <h1>Your Marks are as below</h1>
          <table id="display_marks">
            <tr>
              <th>Subject Name</th>
              <th>Marks(out of 100)</th>
              <th>Date/Time</th>
            </tr>
            <% for(let data in data_s2[0]["Marks"]) {%>
              <tr>
                <td><%=data_s2[0]["Marks"][data]["Subject_name"]%></td>
                <td><%=data_s2[0]["Marks"][data]["Marks"]%></td>
                <td><%=data_s2[0]["Marks"][data]["Date"]%></td>
              </tr>
            <% } %>
          </table>
        </div>
        <div id="tasks_content">
          <table>
            <th>Subject Name</th>
            <th>File Name</th>
            <th>Link</th>
          <% for(let data in assignment) {%>
          <tr>
            <td><%=assignment[data]["Subject_name"]%></td>
            <td><%=assignment[data]["File_name"]%></td>
            <td><a target="_blank" href="<%=assignment[data]["URL"]%>">Open File</a></td>
          </tr>
          <% } %>
        </table>
      </div>
        <div id="materials_content">
          <h1>Displaying the materials</h1>
          <table id="material_table">
            <tr>
                <th>Filename</th>
                <th>Link</th>
            </tr>
            <% for(let i in material) {%>
                <tr>
                    <td >
                        <%=material[i].File_name%>
                    </td>
                      <td><a href="<%=material[i].URL%>" target="_blank">Open File</a> </td>
                </tr>
                <% } %>
        </table>
        </div>
        <div id="settings_content">settings</div>
      </div>

      <div class="col3">
        <div style="width: 100%">
          <form action="/logout" method="post">
            <button id="student_logout" type="submit">logout</button>
          </form>
        </div>
        <br /><br />
        <form action="/prof_pic" method="post" enctype="multipart/form-data">
          <div id="dp">
            <img src="" alt="abc" id="profilepic" />
            <div id="blackfill">
              <input type="file" id="filechooser" accept=".jpg,.jpeg,.png"
              name="img" value="<%=data_s[" Img_url"]%>"/>
            </div>
          </div>

          <button type="submit" id="upload_pic">Upload</button>
        </form>
        <br /><br />
        <h2><%=data_s2[0].First_name%> <%=data_s2[0].Last_name%></h2>
        <h3>
          <%=data_s2[0].Year%>
        </h3>
        <br /><br />
        <!-- <h2>Notifications</h2>
        <br /><br /><br />
        <h2>Messages</h2> -->
      </div>
    </div>

    <div class="loader"></div>

    <p id="received_data" style="display: none"><%= data_s %></p>
    <script src="../js/dashboard_s.js"></script>
    <script>
      window.addEventListener("load", () => {
          const loader = document.querySelector(".loader");

          loader.classList.add("loader--hidden");

          loader.addEventListener("transitionend", () => {
              document.body.removeChild(loader);
          });
      });
  </script>
  </body>
</html>
